{% include "/common/textBlock/textBlockSmallHeadline.html.twig" with amazonPayment %}
<div class="pull-right">
    {% include "/pkgshoppaymentamazon/amazonbuttonwithouttext.html.twig"  with amazonPayment%}
</div>
