{% if amazonPayment.amazonPaymentEnabled %}
    <div class="amazonPayLoginText">{{ "chameleon_system_amazon_payment.payment_button.or_choose_amazon"|trans }}</div>
    {% include "/pkgshoppaymentamazon/amazonbuttonsmall.html.twig"  with amazonPayment%}
{% endif %}